/* default */
* {
    font-size: 18px;
    box-sizing: border-box;
}

#what-to-test * {
    font-size: 20px;
}

h2 {
    font-size: 28px;
}

label {
    display: block;
    font-size: 24px;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
}

button {
    margin-right: 15px;
    padding: 10px;
}

/* layout */
#container {
    margin: 40px auto;
    width: 90%;
}

#what-to-test,
#test-cases,
#result {
    margin-bottom: 30px;
}

#test-cases {
    padding: 40px;
    border: 3px solid blue;
}

/* specific */
#test-cases label,
#test-cases input {
    margin-bottom: 20px;
}

.describe-block {
    padding: 40px;
    border: 3px solid green;
    margin: 40px 0;
}

.describe-block:first-child,
.test-block:first-child {
    margin-top: 0;
}

.test-block {
    padding: 25px;
    border: 2px solid orange;
    margin: 25px 0;
}

.shade {
    background-color: #cccccc;
    border-color: #888888 !important;
}

.toggle {
    border: 1px solid #cccccc;
    padding: 10px 20px;
    float: right;
    font-size: 12px;
    width: 60px;
    text-align: center;
}

.collapse-header {
    display: none;
    font-size: 24px;
}

.collapsed .hide-in-collapse {
    display: none;
}

.collapsed .toggle {
    background-color: white;
}

.collapsed .collapse-header {
    display: block;
}

.collapsed.describe-block {
    background-color: lightgreen;
}

.collapsed.test-block {
    background-color: lightyellow;
}